#main-title-container {
    margin: 25px auto;
    width: fit-content;
}

#main-title-container > h1 {
    display: inline;
}

#search-container {
    width: 80%;
    margin: 0 auto 40px auto;
    display: flow-root;
}

#search-container > label {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 15px;
}

#search-container > input {
    width: 80%;
    float: left;
}

#search-container > button {
    float: right;
    width: 15%;
    padding: 0;
    font-size: 22px;
}

#pagination nav {
    width: 88%;
    margin: 10px auto;
}

#pagination nav li {
    width: 40px;
    cursor: pointer;
}

#pagination nav li > a {
    text-align: center;
}

#pagination nav li#first-page, #pagination nav li#last-page {
    width: 45px;
}

#pagination nav li.no-visible {
    cursor: default;
}

#main-table-container {
    width: 90%;
    margin: auto;
}

#main-table-container table tr > *:nth-child(1) {
    width: 20%;
}

#main-table-container table tr > *:nth-child(2) {
    width: 40%;
}

#main-table-container table tr > *:nth-child(3) {
    width: 40%;
}
